{% extends 'frontend/inc/layout.html' %}
{% load static %}

{% block container %}


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Inscription</h1>
                <a href="" class="h4 text-white">Accueil</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">Inscription</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5" >
                <div class="text-center">
                    <h3>Formulaire d'inscription</h3>
                </div>
                <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
                    <div class="bg-light rounded h-100 p-5">
                        <img src="{% static 'assets_front/img/doctor-4.jpeg' %}" class="img-responsive" alt="Team" style="width: 100%; height: auto;">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6 wow slideInUp" data-wow-delay="0.3s" >
                    <form action="{% url 'auth.signup' %}"  method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            
                            <div class="col-6 mb-3" >
                                <label for="nom" class="mb-2"><b>Nom </b> <i class='text-danger'>*</i></label>
                                <input type="text" class="form-control border-0 bg-light px-4" style="height: 45px;border-radius:10px" name="last_name">
                            </div>
                            <div class="col-6 mb-3" >
                                <label for="prenom" class="mb-2"><b>Prénoms</b><i class='text-danger'>*</i></label>
                                <input type="text" class="form-control border-0 bg-light px-4" style="height: 45px; border-radius:10px" name="first_name">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="email" class="mb-2"><b>Email</b><i class='text-danger'>*</i> </label>
                                <input type="email" class="form-control border-0 bg-light px-4"  style="height: 45px; border-radius:10px" name="email">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="telephone" class="mb-2"><b>Téléphone</b><i class='text-danger'>*</i></label>
                                <input type="text" class="form-control border-0 bg-light px-4" style="height: 45px; border-radius:10px" name="telephone">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="adresse" class="mb-2"><b>Adresse</b><i class='text-danger'>*</i></label>
                                <input type="text" class="form-control border-0 bg-light px-4"  style="height: 45px; border-radius:10px" name="adresse">
                            </div>

                            <div class="col-12 mb-3">
                                <label for="ddn" class="mb-2"><b>Date de naissance</b><i class='text-danger'>*</i></label>
                                <input type="date" class="form-control border-0 bg-light px-4"  style="height: 45px; border-radius:10px" name="ddn">
                            </div>
                            
                            
                            <div class="col-6 mb-3">
                                <label for="password1" class="mb-2"><b>Mot de passe</b><i class='text-danger'>*</i></label>
                                <input type="password" class="form-control border-0 bg-light px-4" id="password1" style="height: 45px; border-radius:10px" name="password1">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="password2" class="mb-2"><b>Confirmer mot de passe</b><i class='text-danger'>*</i></label>
                                <input type="password" class="form-control border-0 bg-light px-4" id="password_confirmation" style="height: 45px; border-radius:10px" name="password2">
                            </div>

                            <div class="col-3">
                                <button class="btn btn-primary w-100 py-3" type="submit" style="border-radius:10px" >Envoyez</button>
                            </div>
                        </div>

                
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1;">
        <div class="container">
            <div class="bg-primary p-5">
                <form class="mx-auto" style="max-width: 600px;">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" >
                        <button class="btn btn-dark px-4">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
{% endblock %}

   