{% extends 'frontend/inc/layout.html' %}
{% load static %}
{% block container %}

<body>
    
    <h2>Examens</h2>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    
                    <th scope="col">id</th>
                    <th scope="col">Dossier</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Resultat</th>
                </tr>
                </thead>

                <tbody>
                    
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               </tbody>
            </table>
        </div>  
        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i>Ajouter examen</a>

    </div>     
</body>
{% endblock %}