{% extends 'frontend/inc/layout.html' %}
{% load static %}
{% block container %}

<body>
    
    <h2>Rendez-vous</h2>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    
                    <th scope="col">id</th>
                    <th scope="col">Agenda</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Specialité</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>

                <tbody>
                    
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               </tbody>
            </table>
        </div>  
        <a href="" class="btn btn-primary" >"Creer rendez-vous</a>

    </div>     
</body>
{% endblock %}