{% extends 'backend/incback/layout.html' %}

{% load static %}
{% block container %}
<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ajouter un role  </h5>
        <div class="container">
        <div class="row">
            <form action="{% url 'roles.store' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Libellé">Libellé</label>
                    <input type="text" class="form-control" id="libelle" name="libelle" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="10" rows="5" class="form-control"></textarea>
                  </div>
                
                
                  <div class="mb-3">
                    <button class="btn btn-primary btn-sm">Enregistrer</button>
                  </div>
                </fieldset>
                </div>
              </form>
        </div>
    </div>
{% endblock %}