{% extends 'backend/incback/layout.html' %}

{% load static %}
{% block container %}
<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Modifier un rôle</h5>
        <form action="{% url 'roles.update' roles.id %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="libelle">Libellé</label>
            <input type="text" class="form-control" id="libelle" name="libelle" placeholder="" value="{{roles.libelle}}">
          </div>
          <div class="mb-3">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="10" rows="5" class="form-control">{{ roles.description }}</textarea>
            </div>
            
              <button class="btn btn-primary btn-sm">Editer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
  {% endblock %}