{% extends 'backend/incback/layout.html' %}

{% load static %}
{% block container %}
    <h2>Liste des roles    <a href="{% url 'roles.create' %}" class="btn btn-secondary btn-sm"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg></a></h2>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    
                    <th scope="col">N</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                    
                  </tr>
                </thead>

                <tbody>
                    {% for item in roles %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{item.libelle}}</td>
                    <td>{{item.description}}</td>
                    
                    <td>
                        <a href="{% url 'roles.edit' item.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{ item.id }}"><i class="bi bi-trash"></i></a>  
                      
<!-- Modal -->
<div class="modal fade" id="exampleModal_{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel_{{ item.id }}">Avertissemennt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voulez-vous supprimer {{ item.libelle }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <a href="{% url 'roles.delete' item.id %}" class="btn btn-danger"><i class="bi bi-trash"></i>Oui</a>
      </div>
    </div>
  </div>
</div>
                    </td>
                    
                  </tr>
                  
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
    {% load sweetify %}
    {% sweetify %}

   {% endblock %}