{% extends 'backend/incback/layout.html' %}
{% load static %}

{% block container %}

<!-- Start main -->
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12 ">
          <div class="row">   

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-4 ">
              <div class="card info-card sales-card">

                

                <div class="card-body">
                  <h5 class="card-title"> Rendez-vous en attentes <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ rendezvous_en_cours }}</h6>

                    </div>
                  </div>

                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Rendez-vous confirmés <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ 0 }}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-4 ">

              <div class="card info-card customers-card">

               
                <div class="card-body">
                  <h5 class="card-title">Consultations <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ 0 }}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

           
      </div>
{% endblock %}