{% extends 'backend/incback/layout.html' %}
{% load static %}
{% block container %}

   <section>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liste des examens <a href="{% url 'examenpatients.create' users.id patient.id %}" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i> </a>  <a href="{% url 'dossierpatients.dossier' users.id patient.id %}" class="btn btn-sm btn-danger"> <i class="bi bi-arrow-return-left"></i> </a> </h5>
          <table class="myTable table table-bordered table-responsive " id="table_examens">
            <thead>
              <tr>
                <th scope="col" class="text-center">N°</th>
                <th scope="col" class="text-center">Résultat</th>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">Numéro du dossier</th>
                <th scope="col" class="text-center">Type d'examen</th>
                <th scope="col" class="text-center">Nom et prénoms</th>            
                
              </tr>
            </thead>

            <tbody>
                {% for item in examenpatients %}
              <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{item.resultat}}</td>
                <td>{{item.description}}</td>
                <td>{{item.dossierpatients.numero}}</td>
                <td>{{item.type_examens.libelle}}</td>
                <td>{{item.users.last_name}}  {{item.users.first_name}}</td>
                
                
              </tr>
              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </section>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script> 
   <script>
       $(document).ready(function () {
          if(window.navigator.language == 'fr-FR'){
              var table = $('#table_examens').DataTable({
                  lengthMenu: [5,10],
                  language: {
                  url: "{% static 'assets_back/js/dataTablesFrench.js' %}"
                  }
              });
          } else {
              var table = $('#table_examens').DataTable({
                  lengthMenu: [5,10],
              });
          }
      });
   </script>
{% load sweetify %}
{% sweetify %}
    
{% endblock %}
