{% extends 'backend/incback/layout.html' %}
{% load static %}
{% block container %}

   <section>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liste des rôles <a href="{% url 'roles.create' %}" class="btn btn-sm btn-primary"><i class="bi bi-plus " title='Ajouter'></i> </a> </h5>
          <table class="myTable table table-bordered table-responsive" id="table_roles"> 
            <thead>
              <tr>
                <th scope="col" class="text-center">Numéro</th>
                <th scope="col" class="text-center">Libellé</th>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">Actions</th>             
                
              </tr>
            </thead>

            <tbody>
                {% for item in roles %}
              <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{item.libelle}}</td>
                <td>{{item.description}}</td>
                
                <td class="text-center">
                    <a href="{% url 'roles.edit' item.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square" title="Modifier"></i></a>
                    <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{item.id}}"><i class="bi bi-trash" title="Supprimer"></i></a> 
                    
                  <!-- Modal -->
<div class="modal fade" id="exampleModal_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_{{item.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel_{{ item.id }}">Avertissement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        voulez-vous supprimer {{ item.libelle }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <a href="{% url 'roles.delete' item.id %}" class="btn btn-danger"><i class="bi bi-trash"></i>oui</a>
      </div>
    </div>
  </div>
</div>
    
                </td>
                
              </tr>
              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </section>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
   <script>
    $(document).ready(function () {
          if(window.navigator.language == 'fr-FR'){
              var table = $('#table_roles').DataTable({
                  lengthMenu: [5,10],
                  language: {
                  url: "{% static 'assets_back/js/dataTablesFrench.js' %}"
                  }
              });
          } else {
              var table = $('#table_roles').DataTable({
                  lengthMenu: [5,10],
              });
          }
      });
  </script>
   
{% load sweetify %}
{% sweetify %}
    
{% endblock %}