{% extends 'backend/incback/layout.html' %}

{% load static %}
{% block container %}
<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ajouter un Conseil  </h5>
        <div class="container">
        <div class="row">
            <form action="{% url 'conseils_medicaux.store' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="type"><b>Type</b><i class='text-danger'>*</i></label>
                    <input type="text" class="form-control" id="type" name="type" style="height: 45px; border-radius:10px" placeholder="">
                  </div>

                  <div class=" col-8 mb-3">
                    <label for="description"><b>Description</b> </label>
                    <textarea name="description" id="description" style="height: 45px; border-radius:10px" class="form-control"></textarea>
                  </div>
                
                
                  <div class="mb-3">
                    <button class="btn btn-primary ">Enregistrer</button>
                    <a href="{% url 'conseils_medicaux.index' %}" class="btn btn-danger">Retour</a>
                  </div>
                  
                   
                  </div>
                
                </div>
              </form>
        </div>
    </div>
{% endblock %}