{% extends 'backend/incback/layout.html' %}
{% load static %}

{% block container %}
<section>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ajouter une spécialité</h5>
        <form action="{% url 'specialites.store' %}" method="POST">
          {% csrf_token %}

          <div class="col-12 mb-3">
            <label for="Libellé"><b>Libellé</b><i class='text-danger'>*</i></label>
            <input type="text" class="form-control" id="libelle" name="libelle" placeholder="">
          </div>

          <div class="col-12 mb-3">
            <label for="Description"><b>Description</b><i class='text-danger'>*</i></label>
            <textarea name="description" id="description" cols="10" rows="5" class="form-control"></textarea>
          </div>

          
            <div class="mb-3">
              <button class="btn btn-primary ">Enregistrer</button>
              <a href="{% url 'specialites.index' %}" class="btn btn-danger">Retour</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}