{% extends 'frontend/inc/layout.html' %}
{% load static %}

{% block container %}

   <!-- Carousel Start -->

   <div class="container-fluid p-0">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="w-100" src="{% static 'assets_front/img/carousel-2.jpeg' %}" alt="Image">
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3 animated slideInDown">Votre santé est notre priorité absolue</h5>
						<h1 class="display-1 text-white mb-md-4 animated zoomIn">Obtenez des soins de santé de qualité, pour une vie plus saine</h1>
						
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img class="w-100" src="{% static 'assets_front/img/doctor-2.jpeg' %}" alt="Image">
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3 animated slideInDown">Votre santé est notre priorité absolue</h5>
						<h1 class="display-1 text-white mb-md-4 animated zoomIn">Obtenez des soins de santé de qualité, pour une vie plus saine</h1>
						<!-- <a href="appointment.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Prendre rendez-vous</a>
						<a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contactez-Nous</a> -->
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<!-- Carousel End -->


 <!-- Banner Start -->
    <div class="container-fluid banner mb-5"> 
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                    <div class=" d-flex flex-column p-5" style="background-color:#2D3CFF;height: 300px;">
                        <h3 class="text-white mb-3">Horaires d'ouvertures</h3>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Lundi - vendredi</h6>
                            <p class="mb-0"> 7:00h - 22:00h</p>
                        </div>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Samedi</h6>
                            <p class="mb-0">7:00h - 22:00h</p>
                        </div>
                        <div class="d-flex justify-content-between text-white mb-3">
                            <h6 class="text-white mb-0">Dimanche</h6>
                            <p class="mb-0"> 8:00h - 13:00h</p>
                        </div>
                        <a class="btn btn-light" href="">Rendez-vous</a>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-dark d-flex flex-column p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">Rechercher un Médecin</h3>
                        <div class="date mb-3" id="date" data-target-input="nearest">
                            <input type="text" class="form-control bg-light border-0 datetimepicker-input"
                                placeholder="Date du rendez-vous" data-target="#date" data-toggle="datetimepicker" style="height: 40px;">
                        </div>
                        <select class="form-select bg-light border-0 mb-3" style="height: 40px;">
                            <option selected>Choisissez la spécialité</option>
                            <option value="1">Service 1</option>
                            <option value="2">Service 2</option>
                            <option value="3">Service 3</option>
                        </select>
                        <a class="btn btn-light" href="">Rechercher un Médecin</a>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-secondary d-flex flex-column p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">Prendre rendez-vous</h3>
                        <p class="text-white">Prenez un rendez-vous à n'importe quel instant et en un temps record avec notre équipe médicale expérimentée, composée des meilleurs médecins de la ville</p>
                        <h2 class="text-white mb-0">+229 51563334</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Start -->


    <!-- About Start -->
    
  
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                       

                        
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">A propos de nous</h5>
                        <h1 class="display-5 mb-0">Notre mission : vous offrir des soins 
						de santé accessibles pour tous</h1>
                    </div>
                    <h4 class="text-body fst-italic mb-4">Comment contribuons-nous à l'amélioration de la santé de nos patients?</h4>
                    <p class="mb-4">Notre mission est de fournir des soins de qualité pour répondre aux besoins de nos patients en matière de soins de santé. Nous nous engageons à  vous offrir des services professionnels, personnalisés et adaptés à chaque patient.</p>
                    <div class="row g-3">
                        
                    </div>
                    {% if user.roles.id == 1 %}
                    <a href="{% url 'appointment' %}" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Prendre rendez-vous</a>
                    {% endif %}
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'assets_front/img/about.jpeg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    
  
    <!-- About End -->


    


    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 mb-5">
                <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
                    <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100" src="{% static 'assets_front/img/chirugie.jpeg' %}" style="object-fit: cover;">
                        <img class="position-absolute w-100 h-100" src="{% static 'assets_front/img/chirugie.jpeg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title mb-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Nos services</h5>
                        <h1 class="display-5 mb-0">Nous offrons les meilleures soins de santé.</h1>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                            <div class="rounded-top overflow-hidden">
                                <img class="img-fluid" src="{% static 'assets_front/img/doctor-5.jpeg' %}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">Médecine Générale</h5>
                            </div>
                        </div>
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                            <div class="rounded-top overflow-hidden">
                                <img class="img-fluid" src="{% static 'assets_front/img/doctor-1.jpeg' %}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">Cardiologie</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-7">
                    <div class="row g-5">
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                            <div class="rounded-top overflow-hidden">
                                <img class="img-fluid" src="{% static 'assets_front/img/pediatre.jpeg' %}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">Pédiatrie</h5>
                            </div>
                        </div>
                        <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                            <div class="rounded-top overflow-hidden">
                                <img class="img-fluid" src="{% static 'assets_front/img/chirugie.jpeg' %}" alt="">
                            </div>
                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">Analyse biomédicale</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <h3 class="text-white mb-3">Prendre rendez-vous</h3>
                        <p class="text-white mb-3">Ou contactez notre services clients au:</p>
                        <h2 class="text-white mb-0">+229 51563334</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

        <!-- FAQ -->

    <div class="container-fluid bg-primary p-5 my-5">
        <div class="row">
            <div class="conteneur">
                <h1>NOS CONSEILS MEDICAUX</h1> <br>
                <details>
                <summary> <em>Comment avoir une bonne hygiène de santé?</em> </summary>
                <div>
                    Il faut veiller à se laver le corps, les dents, les cheveux et les mains pour être propre et éviter les maladies ; faire du sport et prendre l'air pour avoir du tonus et des muscles en pleine forme ; manger équilibré pour apporter au corps tout ce dont il a besoin ; se coucher tôt et bien dormir pour être attentif et reposé.

                </div>
              </details>
              <details>
                <summary> <em>Quoi faire pour se prévenir contre les maladies ou infections?</em> </summary>
                <div>
                    Un des moyens les plus efficaces pour prévenir les infections est la vaccination.
                   Il faut aussi se laver souvent les mains à l'eau tiède et au savon pendant au moins 20 secondes. Désinfectez-vous les mains avec une solution à base d'alcool si vous n'avez pas accès à de l'eau et à du savon. Consultez les techniques de lavage de mains au besoin.
                </div>
              </details>
              <details>
                <summary><em>En cas de fièvre, que faut-il faire?</em></summary>
                <div>
                    3 remèdes pour faire baisser la fièvre chez l'adulte
                    Prenez un bain d'eau tiède. Pour faire baisser la fièvre, il est recommandé de prendre de l'ibuprofène, du paracétamol ou de l'aspirine, mais il existe aussi des remèdes naturels. ...
                    Buvez beaucoup d'eau. À écouter aussi. ...
                    Trempez des chaussettes dans de l'eau froide.                </div>
              </details>
              <details>
                <summary><em>Que faut-il faire en cas de maux de têtes ou de douleurs musculaires?</em></summary>
                <div>
                    Sans gravité, ce type de céphalée peut se traiter facilement grâce à des médicaments antalgiques en vente libre en pharmacie comme le paracétamol, l'ibuprofène ou l'aspirine. Attention cependant à ne pas en abuser, si vos maux de tête se répètent de manière rapprochée, parlez-en au plus vite à votre médecin.   </div>
              </details>
              
              <details>
                <summary><em>Angine : qu’est-ce que c’est ? </em></summary>
                <div>
                    L’angine est une infection au niveau de la gorge qui concerne les amygdales et qui peut s’étendre sur tout le pharynx. Elle est généralement d’origine virale, mais peut être parfois bactérienne. L’angine a des symptômes communs avec la Covid-19, c’est pourquoi il est important de consulter en cas de doute.

                    Lors de votre consultation, le médecin vous en dira plus sur l’origine virale ou bactérienne. Le diagnostic entre origine virale ou bactérienne n’étant pas toujours facile, le médecin pourra s’aider d’un test ou le prescrire à faire en pharmacie.                </div>
              </details>

              <details>
                <summary><em>Varicelle : tout ce qu’il faut savoir pour bien la traiter</em></summary>
                <div>
                    La varicelle est  bénigne chez les bébés de plus de 6 mois. Une consultation chez un médecin ou un pédiatre reste néanmoins indispensable. Voici nos conseils pour prendre soin de votre enfant durant la varicelle :<br/>

                    -Surveillez régulièrement la température de votre enfant ;<br/>
                    -vous pouvez lui donner du paracétamol si la fièvre provoque trop d’inconfort ;<br/>
                    -ne lui donnez pas d’aspirine ou d’anti-inflammatoire (type Ibuprofène) car cela peut provoquer des effets secondaires sévères comme le syndrome de Reye ;<br/>
                    -essayez de limiter les grattages en utilisant des crèmes et solutions apaisantes ;<br/>
                    -évitez d’utiliser toute solution contenant antibiotique, antiviral, antiprurigineux ou anesthésiques ;<br/>
                    -coupez les ongles de votre enfant, lavez-lui régulièrement les mains et brossez sous les ongles pour que ses boutons ne s’infectent pas ;<br/>
                    -utilisez un antiseptique local de façon quotidienne pour nettoyer les boutons ;<br/>
                    -après la douche, séchez-le en tamponnant la peau et non en frottant.<br/>
                </div>
              </details>



              <details>
                <summary><em>Comment arrêter sa toux grâce à un remède de grand-mère ?</em></summary>
                <div>
                    Voici quelques remèdes de grand-mère naturels contre la toux sèche :

                    -la tisane, la consommation de citron et le miel.<br/>
                    -la cannelle est également considérée comme un remède efficace, vous pouvez la faire bouillir dans de l’eau ou dans du jus de citron.<br/>
                    -mélangez du jus de citron, du miel et le tour est joué. Le miel, doux et sucré, soigne les tissus irrités, le jus de citron apporte la vitamine C à votre système immunitaire et le piment augmente l’apport de sang dans la zone concernée et vous permet de guérir plus rapidement.  </div><br/>
              </details>


              <details>
                <summary><em>Constipation : les solutions pour la faire passer rapidement</em></summary>
                <div>
                    La constipation est dite chronique lorsqu’elle dure plus de trois mois avec moins de trois selles par semaine. Une constipation chronique peut entraîner ce qu’on appelle un bouchon, ou en terme médical un fécalome, lorsque les selles sèches et dures s’accumulent dans le rectum. La constipation chronique peut être due à des problèmes digestifs divers, une mauvaise alimentation. Dans certains cas, la constipation est le symptôme d’une autre maladie.<br/><br/> 
                    Comment soulager une constipation rapidement ?
                    Pour faire passer rapidement la constipation, consommez des aliments riches en fibres (fruits, légumes), et évitez les aliments constipants comme le riz, les pâtes, etc. Pensez également à boire beaucoup d’eau.
                    
                    L’activité physique (course, randonnée, natation), ne serait-ce que la marche, favorise les mouvements de transit et l’évacuation des selles. Avoir une activité régulière aide à bien faire fonctionner le système digestif et à éviter les troubles digestifs comme la constipation. De plus, cela permet de réguler l’appétit.
                    
                    Comment débloquer la constipation ?
                    Si votre constipation ne passe pas avec ces conseils, parlez-en à un médecin. Vous pouvez également trouver des traitements laxatifs en pharmacie. Cependant, si vous en prenez sur une période trop longue et de façon régulière cela peut favoriser la constipation. Il est préférable de demander conseil à un médecin.  </div>
              </details>


              


            </div>
        </div>
    </div>
    <!-- FAQ End -->

    
    

    <!-- Pricing Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block  text-uppercase" style="color: #2D3CFF;">Nos Tarifs</h5>
                        <h1 class="display-5 mb-0">Nous vous proposons des tarifs accessibles à tous</h1>
                    </div>
                    <p class="mb-4">Consultez un médecin à moindre coût grâce à nos tarifs.</p>
                    <h5 class="text-uppercase  wow fadeInUp" style="color: #2D3CFF;" data-wow-delay="0.3s">Appelez pour prendre un rendez-vous</h5>
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s">+229 97202353</h1>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                        <div class="price-item pb-4 pt-2">
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" src="{% static 'assets_front/img/price-1.jpeg' %}" alt="">
                                <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                    <h2 class=" m-0" style="color: #2D3CFF;">5000f</h2>
                                </div>
                            </div>
                            <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                <h4>Médecine Générale</h4>
                                <hr class="text-primary w-50 mx-auto mt-0">
                                <div class="d-flex justify-content-between mb-3"><span>Equipement moderne</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Professionel</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>24h/7jrs</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <a href="{% url 'appointment' %}" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Rendez-vous</a>
                            </div>
                        </div>
                        <div class="price-item pb-4 pt-2">
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" src="{% static 'assets_front/img/price-2.jpeg' %}" alt="">
                                <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                    <h2 class=" m-0" style="color: #2D3CFF;">10000f</h2>
                                </div>
                            </div>
                            <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                <h4>Chirugie</h4>
                                <hr class="text-primary w-50 mx-auto mt-0">
                                <div class="d-flex justify-content-between mb-3"><span>Equipement moderne</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Professionel</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>24h/7jrs </span><i class="fa fa-check text-primary pt-1"></i></div>
                                <a href="{% url 'appointment' %}" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Rendez-vous</a>
                            </div>
                        </div>
                        <div class="price-item pb-4 pt-2">
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" src="{% static 'assets_front/img/price-3.jpeg' %}" alt="">
                                <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                    <h2 class=" m-0" style="color: #2D3CFF;">5000f</h2>
                                </div>
                            </div>
                            <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                <h4>Dentiste</h4>
                                <hr class="text-primary w-50 mx-auto mt-0">
                                <div class="d-flex justify-content-between mb-3"><span>Equipement moderne</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Professionel</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>24h/7jrs</span><i class="fa fa-check text-primary pt-1"></i></div>
                                <a href="{% url 'appointment' %}" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Rendez-vous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-primary bg-testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel rounded p-5 wow zoomIn" data-wow-delay="0.6s">
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto rounded mb-4" src="{% static 'assets_front/img/testimonial1.webp' %}" alt="">
                            <p class="fs-5">Je suis très reconnaissant à cette clinique d'avoir mis en place un site aussi pratique et efficace pour prendre rendez-vous chez le médecin. Je recommande cette application à tous ceux qui cherchent un moyen facile et pratique de prendre rendez-vous médical."</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">Nadine</h4>
                        </div>
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto rounded mb-4" src="{% static 'assets_front/img/testimonial2.webp' %}" alt="">
                            <p class="fs-5">Le site était facile à utiliser et très intuitive. J'ai pu choisir le médecin que je voulais consulter, le jour et l'heure qui me convenaient le mieux, et même ajouter des informations supplémentaires si nécessaire. J'ai immédiatement reçu une confirmation de rendez-vous par e-mail et j'ai également été rappelé par la clinique pour confirmer mon rendez-vous.</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">Carla</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title bg-light rounded h-100 p-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Nos médecins</h5>
                        <h1 class="display-6 mb-4">Rencontrez notre équipe de médecins qualifiés et compétents</h1>
                        <a href="{% url 'appointment' %}" class="btn btn-primary py-3 px-5">Rendez-vous</a>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid rounded-top w-100" src="{% static 'assets_front/img/pediatre.jpeg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Dr. John Doe</h4>
                            <p class="text-primary mb-0">Pédiatre</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid rounded-top w-100" src="{% static 'assets_front/img/pediatre.jpeg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Dr. John Doe</h4>
                            <p class="text-primary mb-0">pédiatre</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid rounded-top w-100" src="{% static 'assets_front/img/doctor-2.jpeg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Dr. John Doe</h4>
                            <p class="text-primary mb-0">Cadiologue</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid rounded-top w-100" src="{% static 'assets_front/img/doctor-1.jpeg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Dr. John Doe</h4>
                            <p class="text-primary mb-0">Médecin généraliste</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <img class="img-fluid rounded-top w-100" src="{% static 'assets_front/img/doctor-3.jpeg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Dr. John Doe</h4>
                            <p class="text-primary mb-0">Infirmière</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Newsletter Start -->
    <div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1;">
        <div class="container">
            <div class="bg-primary p-5">
                <form class="mx-auto" style="max-width: 600px;">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Votre Email">
                        <button class="btn btn-dark px-4">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script> 
   {% load sweetify %}
   {% sweetify %}

{% endblock %}