{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px;">
    <div class="container pt-5">
        <div class="row g-5 pt-4">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Liens rapides</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="{% url 'accueil' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Accueil</a>
                    <a class="text-light mb-2" href="{% url 'apropos' %}"><i class="bi bi-arrow-right text-primary me-2"></i>A propos </a>
                    <a class="text-light mb-2" href="{% url 'service' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Nos services</a>
                    <a class="text-light" href="{% url 'contact' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Contactez-nous</a>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Liens populaires</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="{% url 'accueil' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Accueil</a>
                    <a class="text-light mb-2" href="{% url 'apropos' %}"><i class="bi bi-arrow-right text-primary me-2"></i>A propos</a>
                    <a class="text-light mb-2" href="{% url 'service' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Nos services</a>
                    <a class="text-light" href="{% url 'contact' %}"><i class="bi bi-arrow-right text-primary me-2"></i>Contactez-nous</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Commentaire</h3>
                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>rue 123, Porto-Novo, BENIN</p>
                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>infosanteplus06@gmail.com</p>
                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+229 97202353</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Suivez-nous</h3>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="https://www.facebook.com/profile.php?id=100092725305846"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-light py-4" style="background: #051225;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">S@nté-Plus</a>. Tout droits réservés.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0 text-center">Réalisé par <a class="text-white border-bottom" href="">Santeplus</a><br>
                    Distribué par <a class="text-white border-bottom" href="https://www.digiweb.bj/">Digiweb SARL</a>              
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->